* {
  background-color: #9ef1ff;
}

.title-card {
  text-align: center;
  margin: 10px;
}
.line {
  background-color: black;
  height: 3px;
  border: none;
}

.merkbox1 {
  margin-top: 10%;
  margin-left: 17%;
  margin-right: -10%;
  width: 85%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 

}

.merkbox2 {
  padding-bottom: 1rem;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: -10%;
  width: 85%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
}

.merktitel {
  margin-bottom: 0rem;
  min-height: 1rem;
  padding: 0.5rem 0.5rem 0.3rem 1rem;
  text-align: center;
  color: #fff;
  background-color: #3e649c;
}

.merktitel p {
  color: white;
  font-size: 1.5rem;
}

.merktext {
   padding: 1rem 1rem 3rem 1rem;
  text-align: left;
}